@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.97 0.02 225.66);
	--foreground: oklch(0.15 0.02 269.18);
	--card: oklch(0.98 0.01 228.79);
	--card-foreground: oklch(0.15 0.02 269.18);
	--popover: oklch(0.98 0.01 238.45);
	--popover-foreground: oklch(0.15 0.02 269.18);
	--primary: oklch(0.71 0.15 239.15);
	--primary-foreground: oklch(0.94 0.03 232.39);
	--secondary: oklch(0.91 0.03 229.2);
	--secondary-foreground: oklch(0.15 0.02 269.18);
	--muted: oklch(0.89 0.02 225.69);
	--muted-foreground: oklch(0.36 0.03 231.55);
	--accent: oklch(0.88 0.02 235.72);
	--accent-foreground: oklch(0.34 0.05 229.2);
	--destructive: oklch(0.61 0.24 20.96);
	--border: oklch(0.82 0.02 240.77);
	--input: oklch(0.82 0.02 240.77);
	--ring: oklch(0.55 0.1 235.72);
	--chart-1: oklch(0.57 0.11 228.92);
	--chart-2: oklch(0.45 0.1 270.08);
	--chart-3: oklch(0.65 0.15 159.03);
	--chart-4: oklch(0.75 0.1 100.01);
	--chart-5: oklch(0.55 0.15 299.88);
	--sidebar: oklch(0.93 0.01 238.46);
	--sidebar-foreground: oklch(0.15 0.02 269.18);
	--sidebar-primary: oklch(0.57 0.11 228.92);
	--sidebar-primary-foreground: oklch(0.99 0.01 203.97);
	--sidebar-accent: oklch(0.88 0.02 235.72);
	--sidebar-accent-foreground: oklch(0.15 0.02 269.18);
	--sidebar-border: oklch(0.82 0.02 240.77);
	--sidebar-ring: oklch(0.57 0.11 228.92);

	--font-sans:
		"Exo 2", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: "Lato", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--radius: 0.725rem;

	--shadow-2xs: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.03);
	--shadow-xs: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.03);
	--shadow-sm: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 1px 2px -1px oklch(0.49 0.09 235 / 0.06);
	--shadow: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 1px 2px -1px oklch(0.49 0.09 235 / 0.06);
	--shadow-md: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 2px 4px -1px oklch(0.49 0.09 235 / 0.06);
	--shadow-lg: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 4px 6px -1px oklch(0.49 0.09 235 / 0.06);
	--shadow-xl: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 8px 10px -1px oklch(0.49 0.09 235 / 0.06);
	--shadow-2xl: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.15);

	--spacing: 0.28rem;
}

.dark {
	--background: oklch(0.18 0.02 271.27);
	--foreground: oklch(0.9 0.01 238.47);
	--card: oklch(0.22 0.02 271.67);
	--card-foreground: oklch(0.9 0.01 238.47);
	--popover: oklch(0.22 0.02 271.67);
	--popover-foreground: oklch(0.9 0.01 238.47);
	--primary: oklch(0.61 0.15 239.15);
	--primary-foreground: oklch(0.94 0.03 232.39);
	--secondary: oklch(0.28 0.03 270.91);
	--secondary-foreground: oklch(0.9 0.01 238.47);
	--muted: oklch(0.28 0.03 270.91);
	--muted-foreground: oklch(0.6 0.03 269.46);
	--accent: oklch(0.28 0.03 270.91);
	--accent-foreground: oklch(0.9 0.01 238.47);
	--destructive: oklch(0.64 0.25 19.69);
	--border: oklch(0.9 0.01 238.47 / 15%);
	--input: oklch(0.9 0.01 238.47 / 20%);
	--ring: oklch(0.66 0.13 227.7);
	--chart-1: oklch(0.66 0.13 227.7);
	--chart-2: oklch(0.6 0.1 269.83);
	--chart-3: oklch(0.7 0.15 159.83);
	--chart-4: oklch(0.8 0.1 100.65);
	--chart-5: oklch(0.6 0.15 300.14);
	--sidebar: oklch(0.22 0.02 271.67);
	--sidebar-foreground: oklch(0.9 0.01 238.47);
	--sidebar-primary: oklch(0.66 0.13 227.7);
	--sidebar-primary-foreground: oklch(0.18 0.02 271.27);
	--sidebar-accent: oklch(0.28 0.03 270.91);
	--sidebar-accent-foreground: oklch(0.9 0.01 238.47);
	--sidebar-border: oklch(0.9 0.01 238.47 / 15%);
	--sidebar-ring: oklch(0.66 0.13 227.7);

	--shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
	--shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
	--shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
	--shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
	--shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
	--shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
	--shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
	--shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
